<div class="error-div">
  <h1 class="error-title">404 Such a directory doesn't exist!</h1>
  <p class="error-url">{{url}}</p>

  <form method="GET" action="/">
    <button>Go Home</button>
  </form>
</div>