<aside>
	<button type='button' id='folder' type='submit'>Nowy folder</button>
	<button type='button' id='file' type='submit'>Nowy plik</button>
	<form class='form-group' action="/" method="POST" >
		<input type='file' multiple required name="entities"/>
		<button id='upload' type='submit' name="reqType" value="upload">Ok</button>
	</form>
</aside>
<div class='content-window'>
	<div class='content-group'>
		{{#each contents.folders}}
			<div class='tile folder'>
                <form class="form-group" action="/" method="POST">
                    <input type="hidden" name="reqType" value="remove">
                    <img src='folder.png' alt='folder image' />
                    <button class="x light" type='submit' name="entityName" value="{{this}}">X</button>
                </form>
				<p>{{this}}</p>
			</div>
		{{/each}}
	</div>
	<div class='content-group'>
		{{#each contents.files}}
			<div class='tile file'>
                <form class="form-group" action="/" method="POST">
                    <input type="hidden" name="reqType" value="remove">
                    <img src='documents.png' alt='file image' />
                    <button class="x" type='submit' name="entityName" value="{{this}}">X</button>
                </form>
				<p>{{this}}</p>
			</div>
		{{/each}}
	</div>
</div>
<dialog id='myDialog'>
	<h2 id='submitHeading'>Podaj nazwę</h2>
	<form method='POST' id='submitForm'>
		<input type='text' name='entityName' id='inpName' pattern='^[^<>:&#147\/\\|?*\x00-\x1F]+[^ .\\\/&#147]$' required />
		<div class='form-group'>
			<button type='submit' name='reqType' value='' id='btnSubmitDialog'>Potwierdź</button>
			<button type='button' id='btnCloseDialog'>Anuluj</button>
		</div>
	</form>
</dialog>

<script defer type='text/javascript'>
	const btnFolder = document.querySelector("button#folder")
    const btnFile = document.querySelector("button#file")
    const btnUpload = document.querySelector("button#upload")
    const dialog = document.querySelector("dialog")
    const btnCloseDialog = document.querySelector("button#btnCloseDialog")
    
    btnCloseDialog.addEventListener("click", () => {dialog.close()})
    const btnSubmitDialog = document.querySelector("button#btnSubmitDialog")
    const submitHeading = document.querySelector("h2#submitHeading")
    const submitForm = document.querySelector("form#submitForm")
    
    btnFolder.addEventListener("click", () => showDialog("folder"))
	btnFile.addEventListener("click", () => showDialog("file"))
    dialog.addEventListener("close", () => submitForm.reset())
    function showDialog(type) {
        if(type === "folder") {
            submitHeading.textContent = "Podaj nazwę folderu"
            btnSubmitDialog.value = "folder"
        } else if(type === "file") {
            submitHeading.textContent = "Podaj nazwę pliku wraz z rozszerzeniem"
            btnSubmitDialog.value = "file"
        }
	    dialog.showModal()
    }
</script>