<aside>
    <button type="button" id="folder" type="submit">Nowy folder</button>
    <button type="button" id="file" type="submit">Nowy plik tekstowy</button>
    <form "form-group">
        <input type="file" multiple>
        <button id="upload" type="submit" formaction="/uploadFiles">Ok</button>
    </form>
</aside>
<div class="file-window">

</div>
<dialog id="myDialog"></dialog>

<script defer type="text/javascript">
    const btnFolder = document.querySelector("button#folder")
    const btnFile = document.querySelector("button#file")
    const btnUpload = document.querySelector("button#upload")

    //const myForm = document.querySelector("")
    //myForm.addEventListener("submit", validateForm)
    //function validateForm(e) {
    //    confirm("Sure?") ? form.submit() : e.preventDefault()
    //}
</script>